.label {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;

  &__radio-group {
    display: flex;
    margin-top: 0.5rem;

    > div {
      margin-right: 0.5rem;
    }
  }
}

.react-datepicker-wrapper {
  display: block;
}
