@import '../../style/variables';

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &--primary {
    color: #fff;
    background-color: $main-color;
  }

  &--secondary {
    background-color: #fff;
    border: 2px solid $main-color;
    color: $main-color;
  }

  &--link {
    display: inline-block;
    width: auto;
    text-decoration: underline;
    padding: 0 1rem;

    &:hover {
      color: $main-color;
    }
  }

  &:disabled {
    background-color: transparentize($main-color, 0.5);
    cursor: initial;
  }
}
