@import '../../style/variables';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  font-weight: bold;
  color: white;
  background-color: $main-color;
}
